body{
    margin: 0px;
    padding: 0px;
    background-color: #ece;
    
}
nav > ul >li{
   float:left;/*Pour que les éléments de notre menu flote côte à côte*/ 
   position: relative;/*This is to place the submenu just below the menu*/
}
li{
    list-style-type: none;/*Pour rétirer les puces d'une liste*/ 
   
}
.strollingMenu{
    display: none;/*Inorder to hide our strolling menu*/
}

nav{
    background-color: darkblue;/*Samantha demande que je change de blue*/
    width: 100%;
}
nav > ul{/*L'enfant direct de l'élément nav*/
    margin: 0px;
    padding: 0px;
    
    /*overflow: hidden;/*On ne peut pas utiliser ceci car ça 
    cachera nos sous onglets*/
}
nav  ::after{
    /*Pour rétablir la hauteur de l'élément parent car notre
     élément parent 
    non floatant contient des éléments floatants*/
    content: "";
    display: block;
    clear: both;
}
nav a{
    display:inline-block;
    text-decoration: none;
    /*Ici c'était la prémière version de la bar de navigation */
    /*padding: 30px 30px;/*Pour étendre nos lien augmenter 
    l'espace entre nos onglets*/
}
#enterpriseName:hover{
    border-bottom: 5px solid red;/* Samantha demande que je 
    change la couleur rouge*/
    background-color: RGBa(255,255,255,0.15);
}
#enterpriseSolutions:hover{
    border-bottom: 5px solid red;
    background-color: RGBa(255,255,255,0.15);
}
#enterpriseResources:hover{
    border-bottom: 5px solid red;
    background-color: RGBa(255,255,255,0.15);
}
#enterpriseAbout:hover{
    border-bottom: 5px solid red;
    background-color: RGBa(255,255,255,0.15);
}
/* Pour regler le problème du déplacement de la bordure 
lorsqu'on survole l'élément*/
/*Modification de l'élément li lorsque on survole l'élément a*/
nav li:hover a{
  padding: 25px 30px 30px 30px;
}

/*On cible les éléments principaux de notre menu*/
nav > ul > li >a{
    padding: 30px 30px; 
}

/* On souhaite modifier les styles de notre  
sous menu lorsqu'on survole nous onglets principaux*/
nav li:hover .strollingMenu{
    display: inline-block;
    position:absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

/* On applique des styles a nos sous menu*/
.strollingMenu li{
    border-bottom: 1px solid #ccc;
}
.strollingMenu li a{
    padding: 25px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}
.strollingMenu {
    background-color: yellow;
}
.strollingMenu li:hover a{
    font-weight: bold;
    color: white;
}

.strollingMenu li:hover{
    background-color: blue;
}
img{
    height: 75px;
    width: 100px;
}

fieldset{
    border-color: white;
}
.box{
    /*border-style: solid;*/
    border-radius: 5px;
    border-width: 1px;
    display: inline-block;
    margin-left:50px;
    transition: 0.2s ease-in;
    /*box-shadow: 0px 10px 30px black;*/
    transition: all 0.2s ease-in;/*???*/
    background-color: white;
    line-height: 25px;/*Gestion des espaces entre les lignes du text*/
}
.box:hover{
    transform:scale(1.1);/*Pour faire grossir nos boites*/
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*Affichage du menu déroulant*/
.box:hover .inner-box{
    display: inline-block;
    position:absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
    
}

.title:hover{
    text-decoration: underline;
}
.container{
    /*text-align: center;*/
    width: 100%;
    /*height: 100vh;*//*Pour que notre container puise faire toutes la page*/
    display: flex;/* Pour mettre les cartes les unes après les autres*/
    align-items: center;/*Pour centrer les cartes vertiaclement*/
    justify-content: center;/*Pour centrer horizontalement*/  
}
.urgence{
    border-radius: 5px;
    width: 200px;
    height: 225px;
    transition: movement all 60s;
    
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.inner-box{
    text-align: center;
    display: none;
    background-color: white;
}
.image{
    position: relative;
}
